# Application Insights connection string
APPINSIGHTS_CONNECTION_STRING=your-app-insights-connection-string

# API key for protected routes
API_KEY=54EAE13521DD91E8FCCD8BCF97ABBB24AD1F5F4A89DC8FF8FBCD2DFE7EC48C91